
<app-search (onInput)="searchByInput($event)"></app-search>

<div class="container">
  <div class="row grid">
    <masonry [options]="{ transitionDuration: '0.8s', resize: true }">
      <div class="issue-item col s12 m12" *ngFor='let issu of issues;'>
        <div class="brick-issue z-depth-3">
          <div class="profile-img">
            <img src="{{issu?.user.avatar_url}}">
            <div class="title-wrapper">
              <span class="issue-title">{{issu?.title}}</span>
              <span class="issue-user-name">{{issu?.user.login}}</span>
            </div>
          </div>
          <div class="card-content">

            <p class="body-text">{{issu?.body}}</p>
            <span class="number-issues"><strong>ISSUE NUMBER</strong><span class="number-text">&nbsp;&nbsp;{{issu?.number}}</span></span>
          </div>
          <div class="card-action">
            <p><strong>STATUS</strong><span class="status-text">&nbsp;&nbsp;{{issu?.state}}</span></p>
            <span class="desc">COMMENTS<strong>&nbsp;&nbsp;{{issu?.comments}}</strong></span><span class="created-text">&nbsp;&nbsp;-&nbsp;&nbsp;Created at: {{issu?.created_at}}</span>
          </div>
        </div>
      </div>
    </masonry>
  </div>
</div>
<app-pagination></app-pagination>
